:root {
	--bg-color-light: #DFDFFF;
	--bg-color-dark:  #3D3D5E;
	
	--text-color-dark:  #6F6F7F;
	--text-color-light:	#B2B2CC;

	--highlight-color: #9292FF;
}

body {
	background-color: var(--bg-color-light);
	color: var(--text-color-dark);
}
